/* === Outline Variables === */
:root {
  --textcss-outline-color: #000;
  --textcss-outline-width: 2px;
  --textcss-outline-offset: 0;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.outline-thick {
  color: transparent;
  -webkit-text-stroke: 2px #ff4081;
}

.outline-white {
  color: transparent;
  -webkit-text-stroke: 1.5px #fff;
}

.outline-hover:hover {
  color: transparent;
  -webkit-text-stroke: 1px #00f;
}

.outline-gradient {
  position: relative;
  color: transparent;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  background-clip: text; // 标准属性，未来兼容
  -webkit-background-clip: text; // 当前实际生效的实现
  -webkit-text-stroke: 1px #222;
}

.textcss-outline {
  -webkit-text-stroke: var(--textcss-outline-width) var(--textcss-outline-color);
}

.textcss-outline-offset {
  text-shadow:
    calc(var(--textcss-outline-offset) * 1) 0 var(--textcss-outline-color),
    calc(var(--textcss-outline-offset) * -1) 0 var(--textcss-outline-color),
    0 calc(var(--textcss-outline-offset) * 1) var(--textcss-outline-color),
    0 calc(var(--textcss-outline-offset) * -1) var(--textcss-outline-color);
}
